---
import Layout from "../../layouts/Layout.astro";
import AddPaymentDataComponent from "../../components/svelte/AddPaymentData.svelte";
---

<Layout title="Add Payment">
  <h1>Add Payment</h1>

  <AddPaymentDataComponent client:only="svelte" />
</Layout>
