---
import Layout from "../../layouts/Layout.astro";
import AddPaymentComponent from "../../components/svelte/AddPayment.svelte";
---

<Layout title="Add Payment">
  <h1>Add Payment</h1>

  <AddPaymentComponent client:only="svelte" />
</Layout>
