---
import Layout from "../../layouts/Layout.astro";
import AddPayment from "../../components/svelte/AddPayment.svelte";
---

<Layout title="Add Payment">
  <h1>Add Payment</h1>

  <AddPayment client:load />
</Layout>
